.portfolio__section {
    height: 100vh; /* Cobre a altura total da tela */
    background-color: #1a1a1a; /* Cor de fundo da seção de portfólio */
    color: white; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.portfolio__section h2 {
    font-size: 2rem;
    margin: 0;
}

.portfolio__section p {
    font-size: 1.2rem;
}

#portfolio {
    padding: 40px;
    text-align: center;
}

.portfolio-content {
    background-color: #222;
    color: #f7f7f7;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.portfolio-content span {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: "Space Grotesk", sans-serif;
    text-transform: uppercase;
    line-height: 2.0;
}

.portfolio-content p {
    font-family: "Roboto Mono", monospace;
    font-size: 1.4rem;
    text-align: justify;
    line-height: 1.6;
}